* {
    box-sizing: border-box;
    margin: 0px;
    
    
}

html,
body {
    width: 100%;
    height: 100%;
    
}

.wrapper{
    flex-direction: column;
    padding: 15px;
    width: 100%;
    height: 90%;
    margin: 10px;
    border: 5px solid blue;
    
}

.header{
    display: flex;
    flex-direction:row;
    
    height: 75px;
    width: 100%;
    
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid red;
}
.header_title{
    height: 100%;
    width: 200px;
    border: 1px solid orange;

}
.header_info{
    height: 100%;
    width: 100px;
    border: 1px solid orange;
}
.people{
    height: 100px;
    margin-bottom: 10px;
    margin-top: 10px;
    border: 1px solid red;

}

.body{
    height: 500px;
    margin: auto;
    display: flex;  
    flex-direction: row;
    border: 1px solid red;
    padding: 10px;
    
}

.body_left{
    width: 40%;
    height: 100%;
    margin-right: 5px;
    padding: 5px;
    border: 1px solid orange;

}

.body_right{
    width:60%;
    border: 1px solid orange;

}

.profile{
    height: 80px;
    border: 1px solid green;
    padding: 5px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
}

.callendar{
    height: 300px;
    border: 1px solid green;

}

.profile_photo{
    width: 75px;
    border: 1px solid brown;
    margin-right:5px;

}

.profile_info{
    width: 100%;
    border: 1px solid brown;
}





